.container{
    padding: 150px 0;
    height: 100vh;
    margin: 0 auto;
}

.Selector {
    background: #EEF8FF;
    width: 90%;
    padding-bottom:25px;
    border-radius: 35px;
    color: #374957;
    margin: 0 auto;
    /*border: 1px solid #108FF2;*/
    max-width: 500px;
    /*min-width: 500px;*/
    border: 1px solid #108FF2;



}

.selector-element {
    font-family: "JetBrains Mono", monospace;
    position: relative;
    align-items: center;
    height: 200px;
}


.button-30 {
    margin: 90px auto 0;
    align-items: center;
    appearance: none;
    background: #108FF2;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(45, 35, 66, 0.3) 0 7px 3px -3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    width: 100%;
    border: none;

}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.button {
    color: red;
    background-color: blueviolet;
}

.button:hover{
    background-color: #e54aa4;
}

label{
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;

}
form{
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
._blank-form{
    display: flex;
    flex-direction: column;
}
.second{
    margin-top: 20px;
}
select{
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    border: none;
    border: 1px solid #108FF2;
    background: white;
}

h3{
    text-align: center;
    background: #108FF2;
    color: white;
    margin: 0;
    padding: 25px;
    border-radius: 30px 30px 0 0;
    font-size: 13px;
}

@media only screen and (max-width: 560px) {
    label{
        font-size: 14px;
    }
    .button-30{
        margin-top: 50px;
    }
    .container{
        padding: 50px 0;
    }

}